/* Estilo de cuerpo, container, formulario y titulos */
body {
    font-size: 14px;
    line-height: 1.8;
    color: black;
    font-weight: 400;
    font-family: 'Montserrat';
}

.container {
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

form {
    background-color: white;
    opacity: 0.95;
    padding: 50px 70px;
    border-radius: 20px;
    display: block;
}

h2 {
    line-height: 1.66;
    font-weight: 900;
    color: #222;
    font-family: 'Montserrat';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

/* Estilo de los input y sus cajas */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    height: 100%;
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    padding: 18px 20px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    color: #222;
}

/* Estilo de la checkbox y los terminos */
input[type=checkbox] {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 25px;
}

.label-agree-term {
    margin-left: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

/* Estilo para el boton "Registrarse" */
.form-submit {
    width: 100%;
    border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to left, #0cdaf5, #1ee0ca);
}

.form-submit:disabled,
.form-submit[disabled]{
	width: 100%;
	border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: linear-gradient(to left, #0cdaf552, #1ee0c950);
}

/* Estilo para el login */
.loginhere {
    font-weight: 500;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #777;
}

/* Cuadro de mensaje de la contraseña */
#message {
    color: darkblue;
    background-color: rgb(201, 240, 255);
    position: relative;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
}

#message li {
    list-style-type: none;
}

/* Tamaño de fuente mas pequeño en los avisos de feedback */
small {
    font-size: 12px;
}

/* Texto en verde y checkmark al validar el cuadro */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "\2713";
}

ul {
    list-style: none;
}
/* Texto rojo y "x" para los cuadros no validos */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "\292B"!important;
}

