<!--
<video autoplay muted loop id="myVideo">
    <source src="../../../../assets/videos/fondo.mp4" type="video/mp4">
</video>
-->
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9 col-lg-7 col-xl-7 mx-auto">
            <form [formGroup]="formRegistro" (submit)="submit()">
                <h2 class="form-title">Crear tu cuenta</h2>
                <div class=" form-group">
                    <input formControlName="nombre" type="text" class="form-control" id="inputNombre" placeholder="Nombre...">
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class=" form-group">
                    <input formControlName="apellidos" type="text" class="form-control" id="inputApellidos" placeholder="Apellidos...">
                </div>

                <div class="form-group">
                    <input formControlName="email" type="text" class="form-control" id="inputEmail" placeholder="Correo electrónico...">
                </div>   

                <div class="form-group">
                    <input formControlName="dni" type="text" class="form-control" id="inputDNI" maxlength="9" placeholder="Documento de identidad...">
                </div>

                <div class="form-group">
                    <input formControlName="telefono" type="text" class="form-control" id="inputTelefono" maxlength="9" placeholder="Telefono...">
                </div>

                <div class="form-group">    
                    <input formControlName="password" type="password" class="form-control" id="psw" placeholder="Contraseña...">
                </div>
          
                <div class="form-group" id="message">
                    <h6>La contraseña debe contener:</h6>
                    <ul>
                        <li id="pletter" class="{{ passwordHasLower() ? 'valid' : 'invalid' }}">Una letra minúscula.</li>
                        <li id="pcapital" class="{{ passwordHasUpper() ? 'valid' : 'invalid' }}">Una letra mayúscula.</li>
                        <li id="pnumber" class="{{ passwordHasNumber() ? 'valid' : 'invalid' }}">Un número.</li>
                        <li id="plength" class="{{ passwordHasLength() ? 'valid' : 'invalid' }}">Más de 8 caracteres.</li>
                    </ul>
                </div>

                <div class="form-group">
                    <input formControlName="passwordValidate" type="password" class="form-control" id="psw2" placeholder="Verifica tu contraseña...">             
                </div>

                <div class="form-group">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" formControlName="aceptarTerminos">
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>Acepto todos los <a href="#" class="term-service">Términos y condiciones</a></label>
                </div>

                <button type="submit" name="submit" id="submit" class="form-submit" [disabled]="!formRegistro.valid">Registrarse</button>

                <p class="loginhere">
                    ¿Ya tienes tu cuenta creada? <a href="/login" class="loginhere-link">Accede aquí</a>
                </p>

            </form>
        </div>
    </div>

</div>
