<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600 m-b-20">Martin El Omega</h6>
                                <button type="button" class="btn btn-secondary btn-sm"> Guardar Perfil</button>
                            </div>
                        </div>
                        <form class="col-sm-8">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Nombre</p>
                                        <input formControlName="nombre" type="text" id="inputNombre">               
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Apellidos</p>
                                        <input formControlName="apellidos" type="text" id="inputApellidos">               
                                    </div>                                  
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Telefono</p>
                                        <input formControlName="telefono" type="text" id="inputTelefono">               
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">DNI</p>
                                        <input formControlName="dni" type="text" id="inputDNI">               
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">E-mail</p>
                                        <input formControlName="email" type="text" id="inputEmail">               
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>