<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://pbs.twimg.com/profile_images/1068860223341936641/LjYi5b30_400x400.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://pdfhost.io/v/HmOOy445_cv_marcus_vinicius_monteiro_software_developerpdf.pdf">Vladut</a></h3>
            <p>Director y Desarrollador WEB</p>
            <ul class="follow-us clearfix">
              <li><a href="https://github.com/Arkeo22"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://es.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://i.pinimg.com/originals/7a/84/d8/7a84d8868bf6dcb35c8ab5fbbb20eb97.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="https://pdfhost.io/v/HmOOy445_cv_marcus_vinicius_monteiro_software_developerpdf.pdf">Peepo el Admin</a></h3>
            <p>Técnico de Seguridad Informática</p>
            <ul class="follow-us clearfix">
              <li><a href="https://github.com/Arkeo22"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://es.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://groovy.bot/_nuxt/img/b9d83b5.svg" class="img-responsive" alt=""></figure>
            <h3><a href="https://pdfhost.io/v/HmOOy445_cv_marcus_vinicius_monteiro_software_developerpdf.pdf">Cuenco (Groovy)</a></h3>
            <p>Técnico Multimedia</p>
            <ul class="follow-us clearfix">
              <li><a href="https://github.com/Arkeo22"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://es.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul> 
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://pbs.twimg.com/profile_images/1397144129990275072/3P0E90SI.jpg" alt=""></figure>
            <h3><a href="https://pdfhost.io/v/HmOOy445_cv_marcus_vinicius_monteiro_software_developerpdf.pdf">Emilio Erre </a></h3>
            <p>Manager de Redes Sociales</p>
            <ul class="follow-us clearfix">
              <li><a href="https://github.com/Arkeo22"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="https://es.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</section>
<section class="our-webcoderskull padding-lg2">
  <div class="container">
    <div class="map-frame">
      <div id='posicionMapa' style='height: 60vh'></div>
    </div>
  </div>
</section>