<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Conoce a Peepo...</h1>
        <h2>El inicio de un meme, que mas que un meme, es una forma de ver el futuro.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a [routerLink]="['/register']" class="btn-get-started scrollto">Registrarse</a>
          <a href="https://www.youtube.com/watch?v=hlmy7Iidmpc" target="_blank" class="glightbox btn-watch-video"><fa-icon [icon]="faYoutube" id="youtubeButton"></fa-icon><span>Ver video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="https://media.tenor.com/images/ea2b2aed1ce034c5838b0e8068f8f099/tenor.gif" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>