/* Estilo de cuerpo, container, formulario y titulos */

body {
	font-size: 14px;
	line-height: 1.8;
	color: black;
	font-weight: 400;
	font-family: 'Montserrat';
}

.container {
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

form {
	background-color: white;
	opacity: 0.95;
	padding: 50px 70px;
	border-radius: 20px;
	display: block;
}

h2 {
	line-height: 1.66;
	font-weight: 900;
	color: #222;
	font-family: 'Montserrat';
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}


/* Estilo de los input y sus cajas */

.form-group {
	overflow: hidden;
	margin-bottom: 20px;
}

.form-control {
	height: 100%;
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 18px 20px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 500;
	color: #222;
}


/* Padding del cuadro de seleccion de documento para que cuadre mejor en diferentes resoluciones */

#selectID {
	padding: 18px 20px;
}

@media screen and (max-width: 767px) {
	#selectID {
		padding: 0px 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	#selectID {
		padding: 9px 10px;
	}
}


/* Estilo de la checkbox y los terminos */

input[type=checkbox] {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 25px;
}

.label-agree-term {
	margin-left: 6px;
	font-size: 14px;
	font-weight: 600;
	color: #555;
}


/* Estilo para el boton "Registrarse" */

.form-submit {
	width: 100%;
	border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: linear-gradient(to left, #0cdaf5, #1ee0ca);
}


/* Estilo para el login */

.loginhere {
	font-weight: 500;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 5px;
	font-size: 14px;
	color: #777;
}


/* Cuadro de mensaje de la contraseña */

#message {
	display: none;
	color: darkblue;
	background-color: rgb(201, 240, 255);
	position: relative;
	padding: 10px 20px;
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 500;
}

#message li {
	list-style-type: none;
}


/* Tamaño de fuente mas pequeño en los avisos de feedback */

small {
	font-size: 12px;
}


/* Texto en verde y checkmark al validar el cuadro */

.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -35px;
	content: "\2713";
}


/* Texto rojo y "x" para los cuadros no validos */

.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -35px;
	content: "\292B";
}


/* Estilo del video para que ocupe el 100% de la pantalla del dispositivo */

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}