/* Estilo de cuerpo, container, formulario y titulos */


.container {
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 50px;
}

form {
	background-color: white;
	opacity: 0.95;
	padding: 50px 70px;
	border-radius: 20px;
	display: block;
}

h2 {
	line-height: 1.66;
	font-weight: 900;
	color: #222;
	font-family: 'Montserrat';
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}


/* Estilo de los input y sus cajas */

.form-group {

	margin-bottom: 20px;
}

.form-control {
	height: 100%;
	width: 100%;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 18px 20px;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 500;
	color: #222;
}


/* Estilo para el boton "Registrarse" */

.form-submit {
	width: 100%;
	border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: linear-gradient(to left, #0cdaf5, #1ee0ca);
}

.form-submit:disabled,
.form-submit[disabled]{
	width: 100%;
	border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: linear-gradient(to left, #0cdaf552, #1ee0c950);
}

/* Tamaño de fuente mas pequeño en los avisos de feedback */

small {
	font-size: 12px;
}





