<nav class="navbar navbar-expand-lg navbar-light bg-light" id="my-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="../../../assets/imgs/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
      </a>
  
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Administracion</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div *ngIf="!isLogged(); then unloggedBlock else loggedBlock">
          
        </div>
        <ng-template #unloggedBlock>
          <button class="btn btn-outline-warning my-2 mx-2 my-sm-0" type="button" onclick="location.href='/register'">Registro</button>
          <button class="btn btn-outline-success my-2 mx-2 my-sm-0" type="button" onclick="location.href='/login'">Iniciar sesión</button>
        </ng-template>
        <ng-template #loggedBlock>
          <button class="btn btn-outline-error my-2 mx-2 my-sm-0" type="button" (click)="signOut()">Cerrar sesión</button>
        </ng-template>
      </form>
    </div>
  </nav>