<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <a href="#" aria-label="Change Profile Picture" class="remove-hover">
                                    <div class="profile-pic mx-auto" style="background-image: url('https://pbs.twimg.com/profile_images/1068860223341936641/LjYi5b30_400x400.jpg')" >
                                  
                                        <fa-icon [icon]="faCamera"></fa-icon>
                                        <span>Cambiar Imagen</span>
                                  
                                    </div>
                                  </a> </div>
                                <h6 class="f-w-600 m-b-20">{{ nombre }} {{ apellidos }}</h6>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/edit-profile'">Editar Perfil</button>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Nombre</p>
                                        <h6 class="text-muted f-w-400">{{ nombre }} <fa-icon [icon]="faEdit" id="icoEdit"></fa-icon></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Apellidos</p>
                                        <h6 class="text-muted f-w-400">{{ apellidos }} <fa-icon [icon]="faEdit" id="icoEdit"></fa-icon></h6>
                                    </div>                                  
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Telefono</p>
                                        <h6 class="text-muted f-w-400">{{ telefono }} <fa-icon [icon]="faEdit" id="icoEdit"></fa-icon></h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">DNI</p>
                                        <h6 class="text-muted f-w-400">{{ dni }}<fa-icon [icon]="faEdit" id="icoEdit"></fa-icon></h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">E-mail</p>
                                        <h6 class="text-muted f-w-400">{{ email }}<fa-icon [icon]="faEdit" id="icoEdit"></fa-icon></h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">Password</p>
                                        <h6 class="text-muted f-w-400">contaseñaaaaa<fa-icon [icon]="faEdit" id="icoEdit"></fa-icon></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
