<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mx-auto">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <input id="upload" type="file"/>
                                    <div class="profile-pic mx-auto" style="background-image: url('https://pbs.twimg.com/profile_images/1068860223341936641/LjYi5b30_400x400.jpg')" >    
                                        <fa-icon [icon]="faCamera"></fa-icon>
                                        <span>Cambiar Imagen</span>
                                  
                                    </div>
                                </div>
                                <h6 class="f-w-600 m-b-20">{{ perfil.nombre }} {{ perfil.apellidos }}</h6>
                            </div>
                        </div>
                        <form [formGroup]="formPerfil"  class="col-sm-8">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Nombre</p>
                                        <h6 *ngIf='!isEditing' class="text-muted f-w-400">{{ perfil.nombre }}</h6>
                                        <input *ngIf='isEditing' class="form-control" type="text" formControlName="nombre">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Apellidos</p>
                                        <h6 *ngIf='!isEditing' class="text-muted f-w-400">{{ perfil.apellidos }}</h6>
                                        <input *ngIf='isEditing' class="form-control" type="text" formControlName="apellidos">
                                    </div>                                  
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Telefono</p>
                                        <h6 *ngIf='!isEditing' class="text-muted f-w-400">{{ perfil.telefono }}</h6>
                                        <input *ngIf='isEditing' class="form-control" type="text" formControlName="telefono">
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">DNI</p>
                                        <h6 *ngIf="!isEditing" class="text-muted f-w-400">{{ perfil.dni }}</h6>
                                        <input *ngIf='isEditing' class="form-control" type="text" formControlName="dni">
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="m-b-10 f-w-600">E-mail</p>
                                        <h6 *ngIf="!isEditing" class="text-muted f-w-400">{{ perfil.email }}</h6>
                                        <input *ngIf='isEditing' class="form-control" type="text" formControlName="email">
                                    </div>
                                    <div *ngIf="isEditing" class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Contraseña</p>
                                        <input class="form-control" type="password" formControlName="password">
                                    </div>
                                    <div *ngIf="isEditing" class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Confirmar contraseña</p>
                                        <input class="form-control" type="password" formControlName="confirmPassword">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" (click)="editOrSave()" class="btn btn-outline-primary btn-sm btn-block m-b-10 f-w-600 " >{{(isEditing ? "Guardar cambios" : "Editar perfil")}}</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" (click)="deleteUser()" class="btn btn-outline-danger btn-sm btn-block m-b-10 f-w-600" >Borrar usuario</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
